.icon-FreeAction{ background-image: url(../img/FreeAction.webp);}
.icon-LongerAction{ background-image: url(../img/LongerAction.webp);}
.icon-OneAction{ background-image: url(../img/OneAction.webp);}
.icon-OneThreeActions{ background-image: url(../img/OneThreeActions.webp);}
.icon-OneTwoActions{ background-image: url(../img/OneTwoActions.webp);}
.icon-Passive{ background-image: url(../img/Passive.webp);}
.icon-Reaction{ background-image: url(../img/Reaction.webp);}
.icon-ThreeActions{ background-image: url(../img/ThreeActions.webp);}
.icon-TwoActions{ background-image: url(../img/TwoActions.webp);}
.icon-TwoThreeActions{ background-image: url(../img/TwoThreeActions.webp);}